
/*  Header css */
ul > li {
    display: inline-block;
    margin-right: 10px;
}

#header {
    padding: 10px;
    display: flex;
    background-color: #efeded;
}

body {
    margin: 0;
}

img {
    width: 4%;
}


/* Contets css */

#todo-title {
    display: flex;
    justify-content: center;
}