
/*  Header css */
ul > li {
    display: inline-block;
    margin-right: 10px;
}

#header {
    padding: 10px;
    display: flex;
    background-color: #efeded;
}

body {
    margin: 0;
}

img {
    width: 4%;
}


/* Contets css */

#contents {
    margin-left: 25%;
    margin-right: 15%;
    /* border: 1px solid red; */
}

#todo-title {
    display: flex;
    justify-content: center;
}

input[type=text] {
    padding-top: 10px;
    padding-bottom: 10px;
}

input[type=submit] {
    width: 10%;
    color: white;
    border-radius: 6%;
    border-color: blue;
    background-color: blue;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}



.todo-form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: #615d5d;
}

.todo-form-item label {
    margin-bottom: 10px;
}