
/*  Header css */
ul > li {
    display: inline-block;
    margin-right: 10px;
}

#header {
    padding: 10px;
    display: flex;
    background-color: #efeded;
}

body {
    margin: 0;
}

img {
    width: 4%;
}


/* Contets css */

#contents {
    margin-left: 25%;
    margin-right: 15%;
    /* border: 1px solid red; */
}

#todo-title {
    display: flex;
    justify-content: center;
}

input[type=text] {
    padding-top: 10px;
    padding-bottom: 10px;
}

input[type=submit] {
    width: 10%;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    padding-top: 3px;
    padding-bottom: 3px;
}


input[type=submit], button {
    color: white;
    border-radius: 6%;
    border-color: blue;
    background-color: blue;
}



.todo-form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: #615d5d;
}

.todo-form-item label {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

 td, th {
    border-top: 1px  solid #767676;
    padding-top: 15px;
    padding-bottom: 15px;
}

th {
    text-align: left;
}

#todo-list-table {
    margin-top: 45px;
}